/* ==========================================================================
   Footer
   ========================================================================== */

.c-footer {
	padding-top: 4em;
	padding-bottom: 4em;
	background-color: $bg-dark;
	color: $text-color-light;
}

.c-footer p {
	padding-bottom: 1.5em;
}

.c-footer-disclaimer {
	padding-top: 2em;
}

.c-footer-disclaimer-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.c-footer-disclaimer-list li {
	display: inline-block;
}

.c-footer-disclaimer-list > li + li {
	border-left: solid 1px $border-basic;
	padding-left: 10px;
	margin-left: 8px; 
}

.c-footer-social-list li:first-child {
	padding-right: 12px; 
}


.c-footer a,
.c-footer a:visited {
	color: $text-color-light;
}

.c-footer a:hover,
.c-footer a:focus {
	color: $color-highlight;
}