/* ==========================================================================
   Offcanvas trigger
   ========================================================================== */

.c-offcanvas-trigger {
	position: absolute;
	display: block;
	top: 10px;
	right: 30px;
	width: 40px;
	height: 40px;
	margin: 0;
	color: transparent;
	transform: perspective(1px) translateZ(0);
	transition: all 0.2s ease-in-out;
	overflow: hidden;
}

.c-offcanvas-trigger::before,
.c-offcanvas-trigger::after {
	content:'';
	display: block;
	position: absolute;
	right: 0;
	top: 50%;
}

.c-offcanvas-trigger-open::before,
.c-offcanvas-trigger-open::after {
	width: 40px;
	transition: width .2s ease-in-out;
}

.c-offcanvas-trigger-open::before {
	height: 32px;
	margin-top: -15px;
	border-top: 4px solid $text-color;
	border-bottom: 4px solid $text-color;
}

.c-offcanvas-trigger-open::after {
	height: 4px;
	background-color: $text-color;
	margin-top: -1px;
}

.c-offcanvas-trigger-open:focus::after,
.c-offcanvas-trigger-open:hover::after {
	width: 30px;
}

.c-offcanvas-trigger-close{
	margin-top: 1rem;
}

.c-offcanvas-trigger-close::before,
.c-offcanvas-trigger-close::after {
	background-color: $text-color-light;
    margin-top: -2px;
    height: 4px;
    width: 40px;
    transition: all .5s;
}

.c-offcanvas-trigger-close::before {
	transform: rotate(-45deg);
}

.c-offcanvas-trigger-close::after {
	transform: rotate(45deg);
}

/* ==========================================================================
   Offcanvas nav
   ========================================================================== */

.c-offcanvas-nav {
	/*display: none;*/
	position: absolute;
	top: 0;
	left: 0;
	background-color: $bg-dark;
	color: $text-color-light;
	z-index: 10;
	width: 0;
	height: 0;
	overflow-y: auto;
	transition: height .2s ease-out 0s;

	a{
		color: $text-color-light;
	}
}

#open-navigation:not(:target) .c-offcanvas-nav {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.c-offcanvas-inner {
	position: relative;
	width: 100%;
	min-height: 100vh;
	overflow-y: auto;
}

/* ==========================================================================
   Offcanvas nav open
   ========================================================================== */

#open-navigation:target {
    position: relative;
    top: auto;
    height: auto;
    overflow: hidden;
    width: 100%;
	height: 100%;
}

#open-navigation:target {
	.c-offcanvas-nav {
		width: 100%;
		height: 100vh;
		overflow-y: auto;
	}
	
	.c-offcanvas-trigger-open {
		display: none;
	}
}

.c-header-navigation{
	padding-top: 8rem;
	list-style: none;
	text-align: center;
	line-height: 3;

	font-size: 2rem;
}

.menu-item-link{
	font-family: $font-stack-title;
}







