/* ==========================================================================
   Viewport
   ========================================================================== */

@-ms-viewport {
	width: device-width;
}


/* ==========================================================================
   Mediaqueries
   ========================================================================== */



@media only screen and (min-width:1200px) {    
	/* grid gap */	
	.c-container {
		padding-left: 60px;
		padding-right: 60px;
	}
	.c-row {
		margin-right: -30px;
		margin-left: -30px;
	}
	
	.c-col-1,
	.c-col-2,
	.c-col-3,
	.c-col-4,
	.c-col-5,
	.c-col-6,
	.c-col-7,
	.c-col-8,
	.c-col-9,
	.c-col-10,
	.c-col-11,
	.c-col-12 {
		padding-right: 30px;
		padding-left: 30px;
	}
}


@media only screen and (min-width:1330px) {    
	/* container max width */
	.c-container {
        max-width: 1290px;
        margin-left: auto;
		margin-right: auto;
    }
	
}


@media only screen and (max-width:767px) {  
	.c-text-only .c-col-8,
	.c-text-img-2col .c-col-6,
	.c-footer-disclaimer .c-col-6,
	.c-showroom .c-col-6,
	.c-form-2col .c-col-6,
	.c-footer-address .c-col-6,
	.c-text-2col .c-col-6,
	.c-footer .c-col-6,
	.c-text-img-2col-symmetric .c-col-6 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;    	
	}
	
	.c-text-img-2col .c-col-6:first-child,
	.c-footer-disclaimer .c-col-6:first-child,
	.c-footer-address .c-col-6:first-child {
		padding-bottom: 2em;	
	}
	
	.c-footer,
	.c-footer .c-text-right {
		text-align: left;
	}
	
	.c-footer-social-list li {
		padding-left: 6px; 
		padding-right: 6px; 
	}
	
	.c-col-right{
		margin-top: 1rem;
	   text-align: left;
	}	
	
	h1,
	.c-link-cta{
		font-size: 2.5rem;
	}
	h2{
		font-size: 1.8rem;		
	}

	h3{
		font-size: 1rem;		
	}

	.c-text-block blockquote{
		margin-left: -1.5rem;
		margin-right: -1.5rem;
	}

	.c-text-block blockquote p{
		font-size: 1.2rem;
		padding: 1.3em 0em 0 0;
	}

	.c-header{
		padding-left: 0px;
	}
	.c-header-logo{
		width: 250px;
	}

	.c-offcanvas-trigger {
	    position: absolute;
	    display: block;
	    top: -5px;
	    right: 0px;
	}
	.c-offcanvas-trigger-open::after, .c-offcanvas-trigger-open::before {
	    width: 25px;
	}

	.c-offcanvas-trigger-open::before {
	    height: 25px;
	}

	.c-offcanvas-trigger-open::after{
		margin-top: -5px;
	}

	.c-offcanvas-trigger-close{
		top: -30px;
		right: 30px;
	}

	.c-offcanvas-trigger-close::after, .c-offcanvas-trigger-close::before {
	    margin-top: 0;
	    height: 4px;
	    width: 30px;
	}

	.c-header-navigation{
		padding-top: 2rem;
		padding-left: 0px;
		font-size: 1.5rem;
		line-height: 2;
	}
}


