/* Variables, Naming may vary from project to project */

/* ==========================================================================
   Fonts
   ========================================================================== */

$font-stack-title: 'Fonseca-Rounded', 'Arial', 'Helvetica', sans-serif;
$font-stack-default: 'Lora', serif;

/* ==========================================================================
   Colors
   ========================================================================== */

/* text */
$text-color: #212931; /* grey */
$text-color-light: #fff;
$text-color-footer: #fff;

$color-highlight: #e74c4f;; /* light brown */

/* background */
$bg-content: #d8ebde;
$bg-dark: #212931; /* grey */
$bg-light: #D9D5CB; /* light brown */
$bg-bright: #a6d3c6;

/* line-colors */
$border-basic: #818084;

 
/* form */
$border-form: #818084;
$border-form-focus: #000;
$form-disabled: #ccc;
$color-form-error: #dd0000;


/* ==========================================================================
   Breakpoints
   ========================================================================== */
